{% extends "base.html" %} 
{% block head %} 
  {% block title %} 
  Blogs Page
  {%endblock %} 
  {% include "sweetalerts.html" %} 
  {% include "others_header.html"%}
  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />

{% endblock %} 
{% block content %}
<style>
  a:hover {
    color: blue;
  }

  

  .blog_title {
    position: absolute;
    font-size: 1.1rem;
    width: 94%;
    color: var(--background-color);
    padding: 0 3%;
    background: var(--dark-text);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
  }

  .blog_title:hover{
    color: aqua;
  }
</style>
<section class="blog_section mt-5 pt-5">
  <div class="container">
    <div class="section__container row">
      <div class="blog__container col-lg-3 col-md-4 col-sm-12">
        {% for blog in blogs %}
        <div class="blog__card">
          <img
            src="{{ url_for('static', filename='uploads/' ~ blog.first_image_path) if blog.first_image_path else 'static/images/default-image.jpg' }}"
            alt="{{ blog.title }}"
          />
          <div class="text-box">
            <a
              class="blog_title text-light"
              href="{{ url_for('blogs.blog_details', blog_id=blog.blog_id) }}"
            >
              {% if blog.title|length > 200 %} {{ blog.title[:200] }} {% else %}
              {{ blog.title }} {% endif %}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js"
  integrity="sha512-SJh7xW/9SLzllt0PqjnYlomfUPi7UYF40TXU5m6kVXLFr1hdKe+L8Tqqoi1y9vlsMQBdGC2lZI0d6w04Nn6piQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
