{% extends "base.html" %}
{% block head %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

    <!-- Code highlighter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <!-- JQuery Link -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

    {% block title %}
        Portfolio Page
    {%endblock %}

    {% include "sweetalerts.html" %}
    {% include "others_header.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />

{% endblock %}

{% block content %}
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    
    <section class="case_stdies" id="caseStudies">
        <div class="container">
            <div class="case_texts d-flex pb-4 justify-content-center mt-5 pt-5">
                <h1 class="case__heading text-center">All Case Studies </h1>
            </div>
            <!-- <h3 class="case__heading text-center">Add New Case Studies <span class="icon"><i class="bi bi-plus" data-bs-toggle="modal" data-bs-target="#addCaseStudyModal"></i></span></h3> -->
    
    
            {% for case_study in case_studies %}
            <div class="case__studies-section mb-5">
                <div class="other__categories-container row">
                    <div class="categories__text">
                        <h2 class="project__heading">{{ case_study.project_name }}</h2>
                        <p class="project__descr text-dark">
                            <div class="container markdown-content">
                                {% if case_study.description | length > 500 %}
                                {{ case_study.description[:500] | markdown | safe }}
                                {% else %}
                                {{ case_study.description | markdown | safe }}
                                {% endif %}
                            </div>
                            
                        
                        </p>
                        
                        <div class="button-container project-btn">
                            <a href="{{ url_for('casestudies.case_study_details', case_study_slug=case_study.slug) }}"
                                class="connect__btn">Read More</a>
                            <span class="icon"><i class="bi bi-chevron-right"></i></span>
                        </div>
                    </div>
                    <div class="categories__images mt-4 col-lg-6 col-md-6 col-sm-12">
                        {% if case_study.images|length > 0 %}
                        <a href="#" class="text-none case_img_container">
                            <img src="{{ url_for('static', filename='uploads/' + case_study.images[0].image_path) }}" alt=""
                                class="img-fluid me-2">
                        </a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}

        </div>
    </section>
    
    
    <style>
        :root {
            --primary-color: #3498db;
            --secondary-color: #2ecc71;
            --background-color: #FFFFFF;
            --background-secondary-color: #fbf9f5;
            --secondary-background-color: #76b5c5;
            --dark-text: black;
            --text-color: #333;
            --button-bg-color: #e74c3c;
            --primary-text-color: #FFFFFF;
            --card-bg: #f5f5f5;
            --faq-bg: #f1f7f5;
        }
        
        .markdown-content img {
            display: none;
            /* max-width: 100% !important; */
            /* width: 100% !important; */
            /* Scale down to fit within the parent container */
            /* height: 230px !important; */
            /* Maintain aspect ratio */
        }
        

        .case_stdies .view_all {
            text-decoration: none;
            cursor: pointer;
            margin-top: 12px;
        }

        .case_stdies .case_texts {
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .other__categories-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
        }

        .project__heading {
            font-size: 1.5em;
            font-weight: 700;
        }

        .other__categories .button-container {
            background: var(--dark-text);
        }

        .other__categories .button-container .connect__btn {
            background: var(--background-color);
            color: var(--dark-text);
        }

        .other__categories-container .button-container .icon {
            color: var(--primary-text-color) !important;
        }

        .case_stdies .case__studies-section .categories__images img {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 15px;
            /*margin-left: 25%; */
        }

        .categories__images {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 15px;
            background: var(--background-color);
            margin-left: 25%;
            width: 300px;
            height: 300px;
        }

        .case_stdies .categories__text .button-container {
            width: 140px;
            height: 38px;
            display: flex;
            background-color: var(--dark-text);
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 35px;

        }

        .case_stdies .categories__text .button-container .icon{
            font-size: 14px;
            width: 4px;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s;
            color: var(--primary-text-color) !important;
            margin-left: 4%;
        }

        .case_stdies .categories__text .button-container .connect__btn {
            background: var(--primary-text-color);
            padding: 3%;
            color: var(--dark-text);
            text-decoration: none;
            width: 110px;
            border-radius: 20px;
            margin-left: 0;
        }

        .connect__btn:hover{
            color: var(--background-color) !important;
        }

        /*.project__descr {
            height: 200px !important;
            max-height: 200px !important;
        }*/
        
    </style>


{% endblock %}

{% block scripts %}
    <script integrity="sha384-MrcW6ZMFYlXZ
                            *zcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <script>
        document.querySelectorAll('.markdown-content a').forEach(function (anchor) {
            anchor.setAttribute('target', '_blank');
        });

    </script>
{% endblock %}

